!!! 5
%html
	%head
		%title Points Calculator
		%link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Ubuntu', :type => 'text/css'}
		%link{:rel => 'stylesheet', :href => 'style.css', :type => 'text/css'}
		%script{:type => 'text/javascript', :src => 'lib/jquery-1.6.4.min.js'}
		%script{:type => 'text/javascript', :src => 'lib/underscore.js'}
		%script{:type => 'text/javascript', :src => 'calc.js'}
	%body
		#header
			%h1 Points Calculator
			%h2 Fall 2011
		%p Date: <span id="date">--</span>
		%p Days left: <span id="days-left">--</span>
		%p Click <a href="https://onecard.wesleyan.edu/webapps/portal/frameset.jsp?tab_id=_35_1">here</a> to check current balance
		%table#plans
			%thead
				%tr
					%th.results
					%th Meals
					%th Points
			%tbody
				%tr#left.primary.newSection.results
					%td Left
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
					%td#back-cell
						%input#back{:type => 'submit', :value => 'back'}
				%tr#left-pd.secondary.results
					%td per day
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
				%tr#left-pw.secondary.results
					%td per week
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
				%tr#used.secondary.newSection.results
					%td Used
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
				%tr#used-pd.secondary.results
					%td per day
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
				%tr#used-pw.secondary.results
					%td per week
					%td.m
						%input{:type => 'text'}
					%td.p
						%input{:type => 'text'}
					%td.error
