body
	font-size: 16px
	font-family: 'Ubuntu', sans-serif
	margin: 50px

.results, .error
	display: none

#plans
	border-collapse: collapse
	text-align: left
	margin: 20px
	background-color: white

	.primary input
		padding: 6px

	.secondary input
		border: none
		background: inherit
		padding: 6px

	.totalRow td:nth-child(n+2)
		padding: 13px 23px

	tr
		&.newSection td
			border-top: 1px solid #000

		&:not(.newSection) td
			border-top: 1px solid #FFF

	input
		width: 40px

	th
		font-size: 18px
		color: #FFF
		background-color: #555
		border-bottom: 3px solid #FFF
		padding: 12px 17px

	td
		font-size: 12px
		color: #000
		background-color: #DDD
		padding: 7px 17px

	tr.highlight:hover td
		background-color: #BBB

	td.error
		background-color: #FFF
		border-top: none !important
