$row-bg: #DDD
$row-highlight-bg: #BBB
$row-col: #222
$row-highlight-col: #000
$th-bg: #555
$th-col: #FFF
$default-bg: #FFF

body
	font-size: 16px
	font-family: Tahoma, Geneva, Verdana, sans-serif
	margin: 50px

.results, .error
	display: none

#plans
	border-collapse: collapse
	text-align: left
	background-color: $default-bg

	.secondary input
		border: none
		background: inherit

	input
		width: 40px
		padding: 6px

		&#back
			text-transform: uppercase
			background-color: $row-highlight-bg
			border: 1px solid #000
			width: inherit
			padding: 8px 10px

	.totalRow td:nth-child(n+2)
		padding: 13px 23px
		font-size: 14px

	tr
		&.newSection td
			border-top: 1px solid #000

		&:not(.newSection) td
			border-top: 1px solid #FFF

		&.highlight:hover td
			background-color: $row-highlight-bg
			color: $row-highlight-col

		th
			font-size: 18px
			background-color: $th-bg
			color: $th-col
			border-bottom: 3px solid #FFF
			padding: 12px 17px

		td
			font-size: 12px
			background-color: $row-bg
			color: $row-col
			padding: 7px 17px

			&.extra
				background-color: $default-bg
				border-top: none !important

				.ideal-m, .ideal-p
					display: none

			&#back-cell
				background-color: $default-bg

			&.title
				font-weight: bold



